
.tag {
    display: inline-block;
    /* margin-right: 8px; */
    color: rgb(46, 105, 255);
    font-weight: bold;
    /* padding: 4px 8px;
    border-radius: 8px;  */
    text-decoration: none;
  }
  
  .tag:hover {
    text-decoration: underline;
  }
  